body {
    margin: 0;
    background-color: #150f27;
    background-image: url(./cruzadinha-background.png);
}

.tudo{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.header {
    display: flex;;
    justify-content: center;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 2vw;
    color: #fff;
}


.footer {
    margin-top: 72vh;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 1.5vw;
    color: #fff;
}

td, th{
    width: 2.54vh;
    height: 1.3vw;
    border: 2px solid #fcfcfc;
    border-radius: 10px;
}

input {
    width: 2.54vh;
    height: 1.3vw;
    border-radius: 10px;
    border: 1px solid #281c4b00;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
}

.box {
    background-color: #281c4baf;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 66.5vh;
    width: 43.3vw;
    right: 49.5%;
    top: 15%;
    padding-top: 1vw;
    padding-right: 1vw;
    padding-bottom: 5vh;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 20px;
}

.tip_box {
    font-family: 'Zen Kurenaido', sans-serif;
    color: #FFF;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 0 6vh;
    padding-top: 2vh;
    background-color: #281c4baf;
    position: fixed;
    height: 71.4vh;
    width: 30vw;
    right: 7%;
    top: 15%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 20px;
    flex-wrap: wrap;
}

.tip_box h3{
    margin: 1.2vh auto;
    font-size: 0.9vw;
}

.tip_box h3{
    color: #fa0000;
}

.tip_box .dicas{
    color: #fff;
}

.b {
    color: #281c4b00;
    background-color: #281c4b00;
    outline: none;
    cursor: default;
    pointer-events: none;
}
.c {
    color: #fff;
    background-color: #281c4b00;
    outline: none;
    cursor: default;
    pointer-events: none;
}

.d {
    color: rgb(170, 170, 170);
    background-color: rgb(112, 112, 112);
    outline: none;
    cursor: default;
    pointer-events: none;
}

input{
    border-radius: 4px;
}

b:read-only{
    color: #281c4b;
}

.invisible {
    border: 2px solid #281c4b;
}

td{
    border: none;
    text-decoration: none;
}